.card {
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, border 0.3s;
    cursor: pointer;
    border: 2px solid transparent; /* Maintain the same border width */
    background-color: #fff; /* Default background color */
}

.card:hover {
    transform: translateY(-5px) scale(1.03); /* Scale up slightly */
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2); /* More pronounced shadow */
    border: 2px solid #1e77d0; /* Consistent border color on hover */
}

.card:active {
    transform: translateY(-2px) scale(0.98); /* Slightly scale down on click */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); /* Reduced shadow on click */
}

/* In style.css */
.card-body i {
    font-size: 1.5rem; /* Adjust icon size */
    margin-top: 10px; /* Add some spacing */
    display: block; /* Make the icon a block element */
    text-align: right; /* Center the icon */
    color: #070707; 
}

/* Change icon color on card hover */
.card:hover .card-body i {
    color: #1e77d0; /* Blue color on hover */
}


/* Style for all nav links */
.nav-link {
    position: relative;
    /* To position the underline */
}

/* Initially hide the underline */
.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    /* Adjust underline thickness */
    background-color: #1e77d0; /* Choose your underline color */
    transition: width 0.3s ease; /* Add a smooth transition */
}

/* Show underline on hover and for active section */
.nav-link:hover::after,
.nav-link.active::after {
    width: 100%;
}

header {
    background: linear-gradient(45deg, #1a4e82, #1f62a6, #1e77d0);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    text-align: center;
    padding: 100px 0;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

header h1 {
    font-size: 4rem;
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
    text-transform: uppercase;
}

header p {
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 20px;
}

header h1,
header p {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease forwards;
}

header p {
    animation-delay: 0.3s;
}

header {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
